<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nick_name %>
    <%= form.text_field :nick_name %>
  </div>

  <div class="field">
    <%= form.label :modifier_id %>
    <%= form.collection_select :modifier_id, Modifier.all, :id, :modifier_name %>
  </div>

  <div class="field">
    <%= form.label :job_id %>
    <%= form.collection_select :job_id, Job.all, :id, :job_name %>
  </div>

  <div class="field">
    <%= form.label :level_id %>
    <%= form.collection_select :level_id, Level.all, :id, :level_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
