<p id="notice"><%= notice %></p>

<h1>Modifiers</h1>

<table>
  <thead>
    <tr>
      <th>Modifier name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @modifiers.each do |modifier| %>
      <tr>
        <td><%= modifier.modifier_name %></td>
        <td><%= link_to 'Show', modifier %></td>
        <td><%= link_to 'Edit', edit_modifier_path(modifier) %></td>
        <td><%= link_to 'Destroy', modifier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @modifiers %>

<br>

<%= link_to 'New Modifier', new_modifier_path %>
