<p id="notice"><%= notice %></p>

<p>
  <strong>Nick name:</strong>
  <%= @user_profile.nick_name %>
</p>

<p>
  <strong>Hash:</strong>
  <%= @user_profile.hash %>
</p>

<p>
  <strong>Modifier:</strong>
  <%= @user_profile.modifier_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @user_profile.job_id %>
</p>

<p>
  <strong>Level:</strong>
  <%= @user_profile.level_id %>
</p>

<%= link_to 'Edit', edit_user_profile_path(@user_profile) %> |
<%= link_to 'Back', user_profiles_path %>
