<%= form_with(model: admin_modifier) do |form| %>
  <% if admin_modifier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(admin_modifier.errors.count, "error") %> prohibited this admin_modifier from being saved:</h2>

      <ul>
        <% admin_modifier.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :modifier_name %>
    <%= form.text_field :modifier_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
