<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <%= image_tag asset_path('selfintro') %>
    </div>

    <ul>
      <li><%= link_to '修飾子', modifiers_path %></li>
      <li><%= link_to 'レベル', levels_path %></li>
      <li><%= link_to 'ジョブ', jobs_path %></li>
      <li><%= link_to 'プロフィーユ', profiles_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
